<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse">
      <div ngbNav [activeId]="route.fragment | async" class="navbar-nav">
        <a [ngbNavItem]="link.fragment" *ngFor="let link of links" ngbNavLink routerLink="."
          [fragment]="link.fragment">{{ link.title }}</a>
      </div>
    </div>
    <div class="d-flex">
      <button class="btn btn-outline-success">Login with MetaMask</button>
    </div>
  </div>
</nav>
