<div class="container">
  <div>
    <ul class="nav nav-underline">
      <li class="nav-item">
        <p class="nav-link active" aria-current="page" href="#">Active Campaigns</p>
      </li>
    </ul>
  </div>

  <div class="row" *ngIf="activeCampaigns.length > 0; else noCampaigns">
    <div *ngFor="let campaign of activeCampaigns" class="col-md-3">
      <app-campaign-thumbnail [campaign]="campaign" />
    </div>
  </div>
  <ng-template #noCampaigns>
    <div class="row">
      <figure class="text-center">
        No campaigns yet :(
      </figure>
    </div>
  </ng-template>

  <div *ngIf="stoppedCampaigns.length > 0">
    <ul class="nav nav-underline">
      <li class="nav-item">
        <p class="nav-link active" aria-current="page" href="#">Stopped Campaigns</p>
      </li>
    </ul>
  </div>

  <div class="row" *ngIf="stoppedCampaigns.length > 0">
    <div *ngFor="let campaign of stoppedCampaigns" class="col-md-3">
      <app-campaign-thumbnail [campaign]="campaign" />
    </div>
  </div>
</div>
