<div class="row">
  <div class="row">
    <h4>#1</h4>
  </div>
  <div class="form-group col-md-6">
    <label for="campaign-box-title">Title</label>
    <input type="text" class="form-control" id="campaign-box-title" placeholder="Box #1" required>
  </div>
  <div class="form-group col-md-4">
    <label for="campaign-box-price">Price per Box</label>
    <div class="input-group">
      <input type="number" class="form-control" id="campaign-box-price" placeholder="20" required>
      <span class="input-group-text">Wei</span>
    </div>
  </div>
  <div class="form-group col-md-2">
    <label for="campaign-box-total">Total Amount</label>
    <input type="number" class="form-control" id="campaign-box-total" placeholder="10" required>
  </div>
  <div class="row">
    <label for="campaign-box-description" class="form-label">Description</label>
    <textarea name="campaign-box-description" class="form-control" id="campaign-box-description" rows="2" required></textarea>
  </div>
</div>
