<div class="container">
  <div class="row">
    <h1>{{ box.title }}</h1>
  </div>

  <div class="container">
    <div class="row">
      <p>{{ box.description }}</p>
    </div>
    <div class="row">
      <p>
        Sell ID: <strong>{{ sellRef.id }}</strong> ·
        Owner: <strong>{{ sellRef.owner }}</strong> ·
        Price: <strong>{{ box.price }} WEI</strong> ·
        Bought at: <strong>{{ sellRef.boughtAt | date: 'dd/MM/yyyy hh:mm' }}</strong>
      </p>
    </div>
  </div>

  <div>
    <ul class="nav nav-underline">
      <li class="nav-item">
        <p class="nav-link active" aria-current="page" href="#">Delivery Status</p>
      </li>
    </ul>
  </div>

  <!-- New -->
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div *ngIf="!boxStatus.isProcessed; else Processed">
          <div>Not yet processed</div>
          <div *ngIf="animalDeliveryStatus">
            <button (click)="onProcessed()" class="btn btn-primary">Mark as processed</button>
          </div>
        </div>
        <ng-template #Processed>
          <div>Processed</div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card">
      <div class="card-body">
        <div *ngIf="!boxStatus.isDistributed; else Distributed">
          <div>Not yet distributed</div>
          <div *ngIf="boxesProcessStatus">
            <button (click)="onDistributed()" class="btn btn-primary">Mark as distributed</button>
          </div>
        </div>
        <ng-template #Distributed>
          <div>Distributed</div>
        </ng-template>
      </div>
    </div>
  </div>

  <!-- End new -->

  <div class="container">
    <div class="card">
      <div class="card-body">
        <div *ngIf="!boxStatus.isDelivered; else Delivered">
          <div>Not yet delivered</div>
          <div *ngIf="boxesDistributionStatus">
            <button (click)="onDistributed()" class="btn btn-primary">Mark as delivered</button>
          </div>
        </div>
        <ng-template #Delivered>
          <div>Delivered</div>
        </ng-template>
      </div>
    </div>
  </div>

  <div>
    <ul class="nav nav-underline">
      <li class="nav-item">
        <p class="nav-link active" aria-current="page" href="#">Address</p>
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="card">
      <div class="card-body">
        <div *ngIf="address; else encryptAction">
          <p>{{ address }}</p>
        </div>
        <ng-template #encryptAction>
          <div class="row">
            <p>{{ sellRef.physAddress }}</p>
          </div>
          <input [(ngModel)]="privateKey" type="text" class="form-control" placeholder="Private Key" />
          <button class="btn btn-primary" (click)="decryptAddress()">Decrypt Address</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
