<div class="container">
  <div class="row">
    <h1>{{ campaign.info.title }}</h1>
  </div>

  <div class="container">
    <div class="row">
      <p>By <strong>{{ campaign.owner.address }}</strong></p>
    </div>
    <div class="row">
      <p>
        Collected: <strong>{{ collectedEther }} ETH</strong> ·
        Created: <strong>{{ campaign.meta.createdAt | date: 'dd/MM/yyyy hh:mm' }}</strong> ·
        Deadline: <strong>{{ campaign.info.deadline | date: 'dd/MM/yyyy hh:mm' }}</strong>
      </p>
    </div>
    <div class="row">
      <p>{{ campaign.info.description }}</p>
    </div>
  </div>

  <div>
    <ul class="nav nav-underline">
      <li class="nav-item">
        <p class="nav-link active" aria-current="page" href="#">Animal</p>
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="card">
      <div class="card-body">
        <dl class="row card-text">
          <dt class="col-sm-1">Ear Tag:</dt>
          <dd class="col-sm-11">{{ campaign.animal.earTag }}</dd>
          <dt class="col-sm-1">Farm:</dt>
          <dd class="col-sm-11">{{ campaign.animal.farm }}</dd>
          <dt class="col-sm-1">Age:</dt>
          <dd class="col-sm-11">{{ campaign.animal.age }}</dd>
        </dl>
      </div>
    </div>
  </div>

  <div>
    <ul class="nav nav-underline">
      <li class="nav-item">
        <p class="nav-link active" aria-current="page" href="#">Stakeholder</p>
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <app-stakeholder-detail role="Farmer" [stakeholder]="campaign.stakeholders.farmer" />
      </div>
      <div class="col-md-4">
        <app-stakeholder-detail role="Butcher" [stakeholder]="campaign.stakeholders.butcher" />
      </div>
      <div class="col-md-4">
        <app-stakeholder-detail role="Delivery Service" [stakeholder]="campaign.stakeholders.delivery" />
      </div>
    </div>
  </div>

  <div *ngIf="campaign.meta.isStopped">
    <ul class="nav nav-underline">
      <li class="nav-item">
        <p class="nav-link active" aria-current="page" href="#">Supply Chain</p>
      </li>
    </ul>
  </div>

  <div class="container" *ngIf="campaign.meta.isStopped">
    <ol class="list-group list-group-numbered">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Animal delivered to Butcher</div>
          <div *ngIf="!supplychain.isAnimalDelivered; else Delivered">
            <div>Not delivered yet </div>
            <div>Farmer: {{ supplychain.isAnimalDeliveredFarmer }} - Butcher: {{ supplychain.isAnimalDeliveredButcher }}</div>
            <button (click)="onDelivered()" class="btn btn-primary">Mark as delivered</button>
          </div>
          <ng-template #Delivered>
            <div>Delivered</div>
          </ng-template>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Animal processed by Butcher</div>
          <div *ngIf="!supplychain.isAnimalProcessed; else Processed">
            <div>Not processed yet</div>
            <div>Butcher: {{ supplychain.isAnimalProcessed }}</div>
            <div *ngIf="supplychain.isAnimalDelivered">
              <button (click)="onProcessed()" class="btn btn-primary">Mark as processed</button>
            </div>
          </div>
          <ng-template #Processed>
            <div>Processed</div>
          </ng-template>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Boxes processed by Butcher</div>
          <div *ngIf="!supplychain.areBoxesProcessed; else AllProcessed">
            <div>Not yet processed - {{ supplychain.totalBoxes - supplychain.processedBoxes }} boxes to go</div>
          </div>
          <ng-template #AllProcessed>
            <div>All boxes processed</div>
          </ng-template>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Boxes distributed to Delivery Service</div>
          <div *ngIf="!supplychain.areBoxesDistributed; else AllDistributed">
            <div>Not yet distributed - {{ supplychain.totalBoxes - supplychain.distributedBoxes }} boxes to go</div>
          </div>
          <ng-template #AllDistributed>
            <div>All boxes distributed</div>
          </ng-template>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Boxes distributed to Delivery Service</div>
          <div *ngIf="!supplychain.areBoxesDelivered; else AllDelivered">
            <div>Not yet delivered - {{ supplychain.totalBoxes - supplychain.deliveredBoxes }} boxes to go</div>
          </div>
          <ng-template #AllDelivered>
            <div>All boxes delivered</div>
          </ng-template>
        </div>
      </li>
      <li *ngIf="isSupplyChainCompleted" class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Supply Chain completed</div>
          <div *ngIf="!isPaid; else Paid">
            <button (click)="onPayOut()" class="btn btn-primary">Pay out</button>
          </div>
          <ng-template #Paid>
            <div>Payment done</div>
          </ng-template>
        </div>
      </li>
    </ol>
  </div>

  <div *ngIf="!campaign.meta.isStopped">
    <ul class="nav nav-underline">
      <li class="nav-item">
        <p class="nav-link active" aria-current="page" href="#">Boxes</p>
      </li>
    </ul>
  </div>

  <div class="container" *ngIf="!campaign.meta.isStopped">
    <div class="row">
      <div class="col-md-6" *ngFor="let box of availableBoxes">
        <app-box-thumbnail [box]="box" />
      </div>
    </div>
  </div>

  <div>
    <ul class="nav nav-underline">
      <li class="nav-item">
        <p class="nav-link active" aria-current="page" href="#">Sold Boxes</p>
      </li>
    </ul>
  </div>

  <div class="container" *ngIf="soldBoxes.length > 0; else noSoldBoxes">
    <div class="row">
      <div class="col-md-6" *ngFor="let sellRef of soldBoxes">
        <app-sold-box-thumbnail [sellRef]="sellRef" />
      </div>
    </div>
  </div>
  <ng-template #noSoldBoxes>
    <div class="container">
      <figure class="text-center">
        No sold boxes yet :(
      </figure>
    </div>
  </ng-template>

</div>
